<h1>Enter your question</h1>

<%= form_tag do %>
  <%= text_field_tag 'Question' %>
    <%= submit_tag 'Submit your Question' %>
<% end %>

<div style="border:1px red solid">
  <%= @Question %><br/>
</div>