<h1>New paper</h1>

<%= render 'form' %>

<%= link_to 'Back', papers_path %>

<%= form_for @paper, :url => papers_path, :html => { :multipart => true } do |form| %>
    <%= form.file_field :document %>
<% end %>